<h1>New post be created</h1>
<% @posts.each do |post| %><br><br>
<%= link_to post.product.name, post.product %><br><br>
<% post.categories.each do |category|%><br><br>
<%= category.name %>
<% end %>
<%= post.product.brand.name %> <br><br>
<%= post.review %> <br><br>
<% end %>


