<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<%= @post.post_datetime.strftime("%B %d, %Y at %k:%M") %>
<%= @post.likes %><br><br>

<%= link_to @blogger.featured_post.title, post_path(@blogger.featured_post) %>
